body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 1em;
}

#container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#Category {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 20%;
    border-radius: 8px;
}

#Category h2 {
    margin-top: 0;
}

#Book-container h2 {
    text-align: center;
}


.categories {
    list-style: none;
    padding: 0;
}

.categories li {
    margin: 0.5em 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#Book-container {
    width: 75%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Book-container h2 {
    margin-top: 0;
    color: #4CAF50;
}

.submit {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    padding: 0.5em;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.submit button {
    padding: 0.5em;
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
}

.book img {
    width: 100%;
    height: auto;
}

.book h3 {
    margin: 0.5em 0;
    font-size: 1em;
}

.book a {
    display: block
}

